<%- include("partials/header") -%>
<main>
    <nav>
        <li>Name: <span style="background-color: aquamarine"><%= user.name %></span></li>
        <li>Email: <span style="background-color: aquamarine"><%= user.email %></span></li>
        <li>RegistrationDate: <span style="background-color: aquamarine"><%= user.registrationDate %></span></li>
        <li>LastIn: <span style="background-color: aquamarine"><%= user.lastIn %></span></li>
    </nav>
</main>
<%- include("partials/footer") -%>